body{
 background-image: url("grass.jpg");
 background-color: #cccccc;
 background-size: 1300px;
 background-repeat: no-repeat;
 color: white;
}
div.transbox{
 margin-right: 350px;
 background-color: lightgoldenrodyellow;
 border-radius: 25px;
 border: 1px solid black;
 opacity: 0.7;
 filter: alpha(opacity=70);
 width:750px;

}
div.transbox p{
  font-weight: bold;
  color: black;
  padding: 10px;
  
}
h1{
  color: black;
  font-style: bold;
  font-family: 'Delius Unicase';
  font-size: 50px;
  margin: auto;
  padding: 10px;
  
}
h2{
  font-family: 'Comic Sans MS'; 
  font-size: 25px;
  color: black;
  padding: 10px;
 
}
#red{
  position: absolute;
 left:20px;
 top:330px;
}

#yellow{
  position: absolute;
 left:20px;
 top:390px;
}
#goResults{
    background-color: black;
    color: white;
    width: 150px;
    position: absolute;
    padding: 20px;
    border-radius: 25px;
    top: 75px;
    left: 800px;
}
.readybutton {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
.greenbutton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
.redbutton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}