/* This page sets page styles*/


body 
{
   background-color: #DBF9F4;
}

#page
{
   width: auto;
   margin: auto;
   padding: auto;
   
}
#content
{
   margin-left: 25%;
   float: right;
   padding: 0;
   z-index: 1;
}
h1
{
   color: #984447;
   font-family: 'Sansita', sans-serif;
   font-weight: bold;
   text-decoration: underline;
}
hr
{
margin: auto;
}
.quote
{
   color: #683257;
   font-style: italic;
   font-family: Handlee, arial, cursive;
}
h2
{
   color: #984447;
   font-family: 'Sansita', sans-serif;
   font-weight: bold;
}
/*This is the body*/
h3
{
   color: #4C5454;
   font-style: normal;
   font-family: 'Architects Daughter';font-size: 22px;
}
/*unvisited link*/
a:link
{
   font-style: bold;
   font-family: 'Architects Daughter', Arial, sans-serif;
   color: #984447;
}
/*visited link*/
a:visited
{
   text-decoration: none;
   color: #73503C;
}
/*mouse over link*/
a:hover
{
   font-style: bold italic;
   background-color: #4C5454;
   color: white;
}
/*Setting all table properties*/
th, td
{
   border: solid #A68572;
   border-style: groove;
   margin-left: auto;
   margin-right: auto;
}
img
{  
   size: 35%;
   padding: 2px;
}
td
{
   padding: 1px;
}
#links
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #D9D7DD;
   width: 10%;
   position: fixed;
   height: 100%;
   overflow: auto;
   border: thin;
   z-index: 0;
}
li a 
{
   display: block;
   text-align: center;
   padding: 6px;
   font-style: bold;
   font-size: +1;
   font-family: 'Architects Daughter', Arial, sans-serif;
   border-bottom: thin;
}
li last-child
{
   border-bottom: none;
}
