/* This page sets page styles*/


body 
{
   background-color: #DBF9F4;
}

#page
{
   width: 960px;
   margin: auto;
   border: 10px #938581;
   
}
h1
{
   color: #984447;
   font-family: Helvetica, Arial, Futura, sans-serif;
   font-size: 2em; 
   font-weight: bold;
   text-align: center;
}

.quote
{
   color: #683257;
   font-style: italic;
   font: Garamond;
}

h3
{
   color: #4C5454;
   font-style: normal;
   font-family: Arial, serif;
}
/*unvisited link*/
a-link
{
   text-decoration: underline;
   color: blue;
}
/*visited link*/
{
   text-decoration: none;
   color: #73503C;
}
/*mouse over link*/
a-hover
{
   text-decoration: bold;
   text-decoration: underline;
   color: blue;
}
/*Setting all table properties*/
.table
{
   border: thin #A68572;
   border-style: groove;
}

