/* This page sets page styles*/


body 
{
   background-color: #DBF9F4;
   max-width: 500px;
   margin: auto;
}

h1
{
   color: #984447;
   font-family: Helvetica, Arial, Futura, sans-serif;
   font-size: 2em; 
   font-weight: bold;
}

h2
{
   color: #4C5454;
   font-style: italic;
   font: Garamond;
}

h3
{
   color: #4C5454;
   font-style: normal;
   font-family: Arial, serif;
}
