.open{
  text-align: center;
  margin: auto;
  font-family: "Palatino Linotype", Veranda; 
}

#board {
  display: block;
  margin: auto;
  filter: drop-shadow(6px 6px 8px DarkGrey);
}
#duck{
  z-index: 1;
}
#dino{
z-index: 1;
}
