.open{
  text-align: center;
  margin: auto;
  font-family: "Palatino Linotype", Veranda; 
}

#board {
  display: block;
  margin: auto;
  filter: drop-shadow(6px 6px 8px DarkGrey);
}
.buttons{
    background-color: red; /* Stop Button */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttong{
    background-color: green; /* Go Button */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
#duck{
  z-index: 1;
  position: relative;
  margin: auto;
}
#dino{
  z-index: 1;
  Position: relative;
  margin: auto;
}
