.open{
  text-align: center;
  margin: auto;
  font-family: "Palatino Linotype", Veranda; 
}

#board {
  display: block;
  margin: auto;
  padding: 300px;
  padding-top: 25px;
  border: 10px red;
  filter: drop-shadow(6px 6px 8px DarkGrey);
  position: absolute;
  z-index: -1;
}
#duck{
  padding:25px;
  margin: 600px;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}
#dino{
 padding:25px;
  margin: 600px;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}
.buttons{
    background-color: red; /* Stop Button */
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "Palatino Linotype", Veranda;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
}
.buttong{
    background-color: green; /* Go Button */
    border: none;
    color: white;
    padding: 15px 32px;
    font-family: "Palatino Linotype", Veranda;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%
}

